{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />


    <title>Receipts</title>
  </head>
  <body>
    <header>
      <nav>
<!-- Nav Bar Menu-->
{% if user.is_authenticated %}
  <div id="nav">
    <div id="nav_wrapper">
      <ul>
          <li class="icon-home"><a href=""><span>Home</span></a>
            <ul>
              <li><a href="{% url "home" %}">home</a>
              </li>
              <li><a href=""{% url "logout" %}"">Log out</a>
              </li>
            </ul>
          </li>

           <!-- account Dropdown menu -->
            <li id="et"> <a href="#">Account</a>
              <ul>
                  <li><a href="{% url "create_account" %}">New Account</a>
                  </li>
                  <li><a href="{% url "account_list" %}">List Account</a>
                  </li>
                </ul>
            </li>
           <!-- Categories Dropdown menu -->
           <li id="et"> <a href="#">Categories</a>
            <ul>
                <li><a href="{% url "create_category" %}">New Category</a>
                </li>
                <li><a href="{% url "category_list" %}">List Expense</a>
                </li>
              </ul>
          </li>

          <li><a href="{% url "logout" %}">Logout</a></li>

        </ul>
            {% else %}
            <a href="{% url "signup" %}">Signup</a>
            <a href="{% url "login" %}">Login</a>

        {% endif %}
    </div>
  </div>
  <!-- Nav Bar Menu ends here-->
      </nav>
    </header>
    <main>
      {% block content %} {% endblock content %}
    </main>
  </body>
</html>
