{% extends 'base.html' %} {% block content %}
<div>
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %} {{ login_form.as_p }}
    <button>Login</button>
  </form>
</div>
{% endblock content %}
