{% extends 'base.html' %} {% block content %}
<h1>Expense category list view</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for item in expenses %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.receipts.all|length }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
