{% extends 'base.html' %}

{% block content %}
      <h1>My Receipts</h1>
      <table>
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
          </tr>
        </thead>
        <tbody>
          {% for receipt_list in receipt_lst %}
          <tr>
            <td>{{ receipt_list.vendor }}</td>
            <td>{{ receipt_list.total }}</td>
            <td>{{ receipt_list.tax }}</td>
            <td>{{ receipt_list.date |date:"m/d/y" }}</td>
            <td>{{ receipt_list.category.name }}</td>
            <td>{{ receipt_list.account.name}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock content %}
