@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Set all elements to use the Open Sans font */
body, input, textarea, button, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Set the background color of all pages */
html, body {
  background-color: #F2F2F2;
}

main {
  width: 60%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 12px 12px rgba(100, 255, 100, .3);
  position: relative; top: 100px; left: 10px
}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

/* Set the width on all tables */
table {

    border: 1px solid black;
    border-collapse: collapse;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
}

/* Set border all tables */
th, td {
    border: 1px solid lightblue;
    padding: .5em;
  }

  /* align the tittle of the page*/
  h1 {
    text-align: center;
  }



  /*new nav bar***************************/
  .icon-home:before {
    position: absolute;
    top: 9px;
    left: 30px;
    content: "";
    background: url(http://i.imgur.com/1CRy2G5.png);
    width: 24px;
    height: 25px;
    }

    .icon-home a span {
        visibility:hidden;
    }

    #nav a:hover, a:active{
        background-color: #acb0e4;
        color: #000000;
    }

    #nav {
        background-color: #7bba94;
        width: 100%;
        margin-top: -1%;
        margin-left: 1%;
        text-align: center;
        clear: both;
        height: 45px;
        border-radius: 1px;
    }
    #nav_wrapper {
        width: 100%;
        margin: 0 auto;
        text-align: left;
        margin-top: 1%;
        clear: both;
        height: 50px;
    }
    #nav ul {

        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        min-width: 200px;
    }
    #nav ul li {
        margin-top: 0%;
        display: inline-block;
        width: 13.33%;
        text-align:center;
        clear: both;
    }

    #nav ul li:hover {
        background-color: #b6f4d5;
    }

    #nav ul li a, visited {
        font-family: 'CFJackStory-Regular', Helvetica, Arial, sans-serif;
        font-size: 1.1em;
        color: rgb(0, 0, 0);
        display: block;
        padding: 12.2px;
        text-decoration: none;

    }

    #nav ul li:hover ul {
         display: block;
         border-bottom-left-radius: 5%;
         border-bottom-right-radius: 5%;
         width: auto;
    }

    #nav ul ul {
        display: none;
        position: absolute;
        background-color: #9cbfa9;
        border: 4px solid #a2a4a2;
        border-top: 0;
        margin-left: 0%;

        z-index: 150;
    }

    #nav ul ul li {
        display: block;
        width:100%;
    }
    #nav ul ul li a:hover {
        color: rgb(0, 0, 0);
        font-size: 20px;
    }
